/*-------------------------------------------------------*\
    Accessibility
/*-------------------------------------------------------*/

.skip-link {
    z-index: 1;
    @include show-for-sr;
    &:focus {
        @include show-for-all;
    }
}

.show-for-sr {
    @include show-for-all;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
       cursor: pointer;
}
