/*-------------------------------------------------------*\
    Buttons
/*-------------------------------------------------------*/

%button {
    display: inline-block;
    padding: 10px 12px;
    text-align: center;
    font-size: em(15px);
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    border: solid 1px transparent;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    @include break-at($medium-break) {
        @include transition();
    }
    &:hover {
        text-decoration: none;
    }
}

.button {
    @extend %button;
    background-color: $primary-color;
    color: white;

    &:hover, &:focus {
        border-color: $primary-color;
        background: white;
        color: $primary-color;
    }

    &.alternate, &.altertate-container a  {
        border-color: transparent;
        background: $secondary-color;
        color: white;
        &:hover, &:focus {
            background: white;
            color: $secondary-color;
        }
    }

    &.secondary, &.secondary-container a {
        border-color: transparent;
        background: white;
        color: $primary-color;
        &:hover, &:focus {
            border-color: transparent;
            background: $secondary-color;
            color: white;
        }
    }

    &.tertiary, &.tertiary-container a {
        border-color: white;
        background: transparent;
        color: white;
        &:hover, &:focus {
            border-color: white;
            background: white;
            color: $secondary-color;
        }
    }

    &[disabled="disabled"] {
        cursor: text !important;
        transition: none !important;
        background-color: #333 !important;
        color: white !important;
        cursor: not-allowed !important;
    }
}

.button-container {
    a {
        @extend .button;
    }
}
