/*-------------------------------------------------------*\
    Links
/*-------------------------------------------------------*/

a {
    color: $primary-color;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    &:hover {
        color: $secondary-color;
    }
}
