/*-------------------------------------------------------*\
    Navigation
/*-------------------------------------------------------*/

nav {
    ul {
        list-style: none;
        li {
            padding-left: 0;
            &:before {
                content: none;
            }
        }
    }
}