/*-------------------------------------------------------*\
    Typography
/*-------------------------------------------------------*/


/* Font Sizes */


$h5-size: 20px !default;
$h6-size: 15px !default;
$body-copy-size: 15px !default;
h1, h2, h3, h4, h5, h6 {
    margin-top: 2px;
    margin-bottom: 8px;
    font-weight: $normal;
    font-family: $sans-serif;
    &:not(.ignore-span) {
        span {
            font-weight: $bold;
        }
        em {
            font-style: normal;
            color: $primary-color;
        }
        strong {
            font-weight: bold;
        }
    }
    +h1, +h2, +h3, +h4, +h5, +h6 {
        margin-top: em(-6px);
    }
    &.light {
        color: white;
    }
    &.dark {
        color: black;
    }
    &.bold {
        font-weight: $bold;
    }
}

h1, .h1 {
    font-size: em(30px);
    @include break-at($small-break) {
        font-size: em(60px);
    }
    @include break-at($grid-width) {
    font-size: em(75px);
        font-size: 9vw;
    }
}

h2, .h2 {
    font-size: em(24px);
    @include break-at($medium-break) {
        font-size: em(40px);
    }
    @include break-at($grid-width) {
        font-size: 2.8vw;
    }
}

h3, .h3 {
    font-size: em(18px);
    @include break-at($medium-break) {
        font-size: em(28px);
    }
    @include break-at($grid-width) {
        font-size: 1.8vw;
    }
}

h4, .h4 {
    font-size: em(20px);
}

h5, .h5 {
    font-size: em($h5-size);
}

h6, .h6 {
    font-size: em($h6-size);
}

p {
    padding-bottom: $pgap;
    margin: 0;
    font-size: em($h6-size);
    small {
        font-size: em(multiply($body-copy-size, 0.8));
        line-height: 1;
    }
}

.small-paragraph {
    font-size: em(multiply($body-copy-size, 0.9));
}

hr {
    border: 0;
    height: 0;
    border-top: 0;
    border-bottom: 1px solid rgba(233, 233, 233, 1);
}

%sub-super {
    vertical-align: baseline;
    position: relative;
}

sup {
    @extend %sub-super;
    top: -0.4em;
}

sub {
    @extend %sub-super;
    top: 0.4em;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.title-case {
    text-transform: capitalize;
}


/*List Items
--------------------------------- */

ul {
    list-style: none;
    li {
        position: relative;
    }
}

ol {
    list-style: decimal inside;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: em(10px);
    ul, ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}

li {
    margin-bottom: em(8px);
}