/*-------------------------------------------------------*\
    Fonts
/*-------------------------------------------------------*/

/* Sizes */
$base-font-size: 16px;

/* Families */
$sans-serif: 'helvetica', helvetica, sans-serif;
$body-font: 'Georgia', serif;
$font-family: $sans-serif;
$serif: serif;

/* Weights */
$normal: 300;
$bold: 700;