/*-------------------------------------------------------*\
    Mixins
/*-------------------------------------------------------*/


/*  Clearfix
-------------------------------------------------------*/

@mixin clearfix() {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}


/*  Media Query Mixins
-------------------------------------------------------*/

@mixin break-at($point) {
    @media screen and (min-width: $point) {
        @content;
    }
}

@mixin break-max-at($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}


/*  Prefix Helpers
-------------------------------------------------------*/

@mixin prefix($property, $value, $prefixes: ('webkit', 'moz', 'ms', 'o')) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}

@mixin prefixer($property, $value, $prefixes: ('webkit', 'moz', 'ms', 'o')) {
    @include prefix($property, $value, $prefixes);
}

@mixin property-prefixer($property, $value, $prefixes: ('webkit', 'moz', 'ms')) {
    #{$property}: $value;
    @each $prefix in $prefixes {
        $property: #{'-' + $prefix + '-' + $value};
    }
    // Output standard non-prefixed declaration
}

@mixin disable-prefix-for-all {
    $prefix-for-webkit: false !global;
    $prefix-for-mozilla: false !global;
    $prefix-for-microsoft: false !global;
    $prefix-for-opera: false !global;
    $prefix-for-spec: false !global;
}


/*  Transition & Transform Mixins
-------------------------------------------------------*/

@mixin transition($type: all, $time: 0.25s, $easing: cubic-bezier(0, 0.32, 0, 1.12)) {
    -webkit-transition: $type $time $easing;
    -moz-transition: $type $time $easing;
    -ms-transition: $type $time $easing;
    -o-transition: $type $time $easing;
    transition: $type $time $easing;
    // @include backface-visibility(hidden);
}

@mixin transform($option) {
    -webkit-transform: $option;
    -moz-transform: $option;
    -ms-transform: $option;
    -o-transform: $option;
    transform: $option;
}

@mixin cubicTransition($a, $b, $c, $d, $time) {
    -webkit-transition: all $time cubic-bezier($a, $b, $c, $d);
    -moz-transition: all $time cubic-bezier($a, $b, $c, $d);
    -o-transition: all $time cubic-bezier($a, $b, $c, $d);
    transition: all $time cubic-bezier($a, $b, $c, $d);
}


/*  Box Sizing Mixin
-------------------------------------------------------*/

@mixin box-sizing($box) {
    @include prefixer(box-sizing, $box, webkit moz spec);
}



/*  Miscellaneous Helpers
-------------------------------------------------------*/

@mixin table {
    display: table;
}

@mixin table-cell($vertical-align: middle) {
    display: table-cell;
    vertical-align: $vertical-align;
}

@mixin hidden-overlay($background: none, $width: 100%, $height: 100%) {
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: $width;
        height: $height;
    }
    &.enabled {
        &:before {
            display: none;
        }
    }
}

@mixin bg-img-and-color($color, $img-url) {
    background-image: linear-gradient(to right, $color, $color), url($img-url);
}

@mixin font-awesome-icon($font-awesome-class, $padding: 0) {
    @extend .#{$font-awesome-class};
    &:before {
        @extend .fa;
        padding: $padding;
    }
}

@mixin modal-close-btn($important: null) {
    @include font-awesome-icon("fa-close");
    z-index: 99999999999#{$important};
    top: 25px#{$important};
    right: 25px#{$important};
    position: fixed#{$important};
    left: auto#{$important};
    bottom: auto#{$important};
    text-shadow: none#{$important};
    font-weight: 100#{$important};
    color: unquote("transparent#{$important}");
    display: block#{$important};
    background: unquote("#{rgba($primary-color, 0.6)}#{$important}");
    border: unquote("#{3px solid white}#{$important}");
    border-radius: 100%#{$important};
    height: 50px#{$important};
    width: 50px#{$important};
    text-align: center#{$important};
    padding: 1px#{$important};
    &:before {
        color: unquote("white#{$important}");
        font-size: unquote("#{$h3-font-size}#{$important}");
        @include transition(all, 0.15s, ease);
    }
    &:hover {
        color: unquote("#{$primary-color}#{$important}");
        text-decoration: none#{$important};
        cursor: pointer#{$important};
        @include transition(all, 0.25s);
        &:before {
            @include prefixer(transform, rotate(25deg));
            @include prefixer(filter, blur(0.01em));
        }
    }
}

@mixin show-for-sr() {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

@mixin show-for-all() {
    clip: auto;
    height: auto;
    overflow: visible;
    width: auto;
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}


/* Style text input placeholder text */

@mixin placeholder-styles {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }
    @include optional-at-root(':-moz-placeholder') {
        @content;
    }
    @include optional-at-root('::-moz-placeholder') {
        @content;
    }
    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

@mixin backface-visibility ($arguments) {
    -webkit-backface-visibility: $arguments;
    -moz-backface-visibility: $arguments;
    -ms-backface-visibility: $arguments;
    -o-backface-visibility: $arguments;
    backface-visibility: $arguments;
}

@mixin gradient-bg-horizontal($top, $bottom, $img: false, $stop: 100%) {
    background: $top;
    @if $img !=false {
        background-image: -webkit-linear-gradient(135deg, $top 0, $bottom $stop), url($img);
        background-image: -moz-linear-gradient(135deg, $top 0, $bottom $stop), url($img);
        background-image: -ms-linear-gradient(135deg, $top 0, $bottom $stop), url($img);
        background-image: linear-gradient(135deg, $top 0, $bottom $stop), url($img);
    }
    @else {
        background-image: -webkit-linear-gradient(135deg, $top 0, $bottom $stop);
        background-image: -moz-linear-gradient(135deg, $top 0, $bottom $stop);
        background-image: -ms-linear-gradient(135deg, $top 0, $bottom $stop);
        background-image: linear-gradient(135deg, $top 0, $bottom $stop);
    }
}

@mixin gradient-bg-vertical($bottom, $top, $img: false, $stop: 100%) {
    @if $img !=false {
        background-image: -webkit-linear-gradient(0deg, $top 0, $bottom $stop), url($img);
        background-image: -moz-linear-gradient(0deg, $top 0, $bottom $stop), url($img);
        background-image: -ms-linear-gradient(0deg, $top 0, $bottom $stop), url($img);
        background-image: linear-gradient(0deg, $top 0, $bottom $stop), url($img);
    }
    @else {
        background-image: -webkit-linear-gradient(0deg, $top 0, $bottom $stop);
        background-image: -moz-linear-gradient(0deg, $top 0, $bottom $stop);
        background-image: -ms-linear-gradient(0deg, $top 0, $bottom $stop);
        background-image: linear-gradient(0deg, $top 0, $bottom $stop);
    }
}

@mixin stroked-circle($fill-color: $primary-color, $border-color: white, $width: 7px) {
    color: transparent;
    border: 1px solid $border-color;
    width: $width;
    height: $width;
    display: block;
    position: absolute;
    border-radius: 100%;
    background: $fill-color;
    content: ' ';
}


/* Semantic Grid mixins
-------------------------------------------------------*/

$advanced-usage: false !default;
@mixin box-sizing($box) {
    @include prefix(box-sizing, $box, webkit moz spec);
}

@mixin block-center($text-align: false) {
    @if $text-align !=false {
        text-align: $text-align;
    }
    float: none;
    margin-left: auto;
    margin-right: auto;
}

@mixin mobilefix {
    @include respond(all-phones) {
        &:before, &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        &:last-child {
            float: none;
        }
    }
}

@mixin row() {
    width: 100%;
    margin: 0 auto;
    @include clearfix;
    max-width: 1000px;
}

@mixin row-full() {
    @include nestedRow;
}

// Mixin for rows that are nested within columns
@mixin nestedRow {
    width: auto;
    min-width: 0;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    @extend %clearfix;
}

@mixin row-block($full: false) {
    @if $full==full {
        @include row-full;
    }
    @else {
        @include row;
    }
    @extend %block;
}

@mixin row-inner($inner-padding: 0) {
    width: 100%;
    margin: 0 auto;
    max-width: $grid-inner-width;
    clear: both;
    @include clearfix;
}

// Mixin for rows that are nested within columns
@mixin nested-row {
    width: auto;
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
    @include clearfix;
}

// Columns with no padding
@mixin col-full($large-cols: $columns, $med-cols: $large-cols, $sm-cols: $columns) {
    float: $default-float;
    min-height: 1px;
    position: relative;
    width: percentage($sm-cols, $columns);
    @include break-at($medium-break) {
        width: percentage($med-cols, $columns);
    }
    @include break-at($large-break) {
        width: percentage($large-cols, $columns);
    }
}

// Columns with padding
@mixin col($large-cols: $columns, $med-cols: $large-cols, $sm-cols: $columns) {
    @include col-full($large-cols, $med-cols, $sm-cols);
    padding-left: $gutter-width;
    padding-right: $gutter-width;
}

// Centered Mixin
@mixin block-centered() {
    float: none;
    margin-left: auto;
    margin-right: auto;
}