/*-------------------------------------------------------*\
    Admin Mixins
/*-------------------------------------------------------*/

@mixin show-for-sr() {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

@mixin show-for-all() {
    clip: auto;
    height: auto;
    overflow: visible;
    width: auto;
}

@mixin break-at($media) {
    @if type-of($media)=="number" {
        @if unit($media)=="px" {
            @media only screen and (min-width: #{$media}) {
                @content;
            }
        }
        @else {
            @media only screen and (min-width: #{$media}) {
                @content;
            }
        }
    }
    @else if $media==retina {
        @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            @content;
        }
    }
    @else {
        @media only screen and (#{$media}) {
            @content;
        }
    }
}

@mixin break-max-at($media) {
    @if type-of($media)=="number" {
        @if unit($media)=="px" {
            @media only screen and (max-width: #{$media}) {
                @content;
            }
        }
        @else {
            @media only screen and (max-width: #{$media}) {
                @content;
            }
        }
    }
    @else if $media==retina {
        @media only screen and (-webkit-max-device-pixel-ratio: 2), (max-resolution: 192dpi) {
            @content;
        }
    }
    @else {
        @media only screen and (#{$media}) {
            @content;
        }
    }
}

@mixin break($media) {
    @if type-of($media)=="number" {
        @if unit($media)=="px" {
            @media only screen and (min-width: #{$media}) {
                @content;
            }
        }
        @else {
            @media only screen and (min-width: #{$media}) {
                @content;
            }
        }
    }
    @else if $media==retina {
        @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            @content;
        }
    }
    @else {
        @media only screen and (#{$media}) {
            @content;
        }
    }
}

@mixin mobile-break($media) {
    @if type-of($media)=="number" {
        @if unit($media)=="px" {
            @media only screen and (max-width: #{$media}) {
                @content;
            }
        }
        @else {
            @media only screen and (max-width: #{$media}) {
                @content;
            }
        }
    }
    @else if $media==retina {
        @media only screen and (-webkit-max-device-pixel-ratio: 2), (max-resolution: 192dpi) {
            @content;
        }
    }
    @else {
        @media only screen and (#{$media}) {
            @content;
        }
    }
}

@mixin break($media) {
    @if type-of($media)=="number" {
        @if unit($media)=="px" {
            @media only screen and (min-width: #{$media}) {
                @content;
            }
        }
        @else {
            @media only screen and (min-width: #{$media}) {
                @content;
            }
        }
    }
    @else if $media==retina {
        @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            @content;
        }
    }
    @else {
        @media only screen and (#{$media}) {
            @content;
        }
    }
}


@mixin prefixer($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
}
